fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
alembic
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
httpx
pymongo
motor
requests
PyGithub
apscheduler
gspread
google-auth
weasyprint
google-generativeai
